DATABASE_URL=your_database_url
PORT=port

// TWILIO secrets
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_FROM_NUMBER=your_from_number

OCR_SPACE_API_KEY=your_account_sid